FrontEnd (C#)/BibliotecaWA/BibliotecaWA/Connected Services/BibliotecaServices/ArticuloWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://gestionMaterial.services.biblioteca/" targetNamespace="http://gestionMaterial.services.biblioteca/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="eliminarArticulo" type="tns:eliminarArticulo" />
  <xs:element name="eliminarArticuloResponse" type="tns:eliminarArticuloResponse" />
  <xs:element name="insertarArticulo" type="tns:insertarArticulo" />
  <xs:element name="insertarArticuloResponse" type="tns:insertarArticuloResponse" />
  <xs:element name="listarArticulosTodos" type="tns:listarArticulosTodos" />
  <xs:element name="listarArticulosTodosResponse" type="tns:listarArticulosTodosResponse" />
  <xs:element name="modificarArticulo" type="tns:modificarArticulo" />
  <xs:element name="modificarArticuloResponse" type="tns:modificarArticuloResponse" />
  <xs:element name="obtenerArticuloPorId" type="tns:obtenerArticuloPorId" />
  <xs:element name="obtenerArticuloPorIdResponse" type="tns:obtenerArticuloPorIdResponse" />
  <xs:complexType name="listarArticulosTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarArticulosTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:articulo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="articulo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:materialBibliografico">
        <xs:sequence>
          <xs:element minOccurs="0" name="ISSN" type="xs:string" />
          <xs:element name="numero" type="xs:int" />
          <xs:element minOccurs="0" name="revista" type="xs:string" />
          <xs:element name="volumen" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="materialBibliografico">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="anho_publicacion" type="xs:int" />
      <xs:element minOccurs="0" name="autoresTexto" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="bibliotecas" nillable="true" type="tns:biblioteca" />
      <xs:element minOccurs="0" name="bibliotecasTexto" type="xs:string" />
      <xs:element name="cantidadDisponible" type="xs:int" />
      <xs:element minOccurs="0" name="clasificacion_tematica" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="contribuyentes" nillable="true" type="tns:contribuyente" />
      <xs:element minOccurs="0" name="editorial" type="tns:editorial" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ejemplares" nillable="true" type="tns:ejemplar" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoMaterial" />
      <xs:element name="idMaterial" type="xs:int" />
      <xs:element minOccurs="0" name="idioma" type="xs:string" />
      <xs:element name="numero_paginas" type="xs:int" />
      <xs:element minOccurs="0" name="tipo" type="tns:tipoMaterial" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="biblioteca">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ejemplares" nillable="true" type="tns:ejemplar" />
      <xs:element name="idBiblioteca" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ejemplar">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="blibioteca" type="tns:biblioteca" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoEjemplar" />
      <xs:element name="idEjemplar" type="xs:int" />
      <xs:element name="id_material" type="xs:int" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contribuyente">
    <xs:sequence>
      <xs:element name="idContribuyente" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="primer_apellido" type="xs:string" />
      <xs:element minOccurs="0" name="segundo_apellido" type="xs:string" />
      <xs:element minOccurs="0" name="seudonimo" type="xs:string" />
      <xs:element minOccurs="0" name="tipo_contribuyente" type="tns:tipoContribuyente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editorial">
    <xs:sequence>
      <xs:element name="idEditorial" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarArticulo">
    <xs:sequence>
      <xs:element minOccurs="0" name="articulo" type="tns:articulo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarArticuloResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarArticulo">
    <xs:sequence>
      <xs:element name="idArticulo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarArticuloResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarArticulo">
    <xs:sequence>
      <xs:element minOccurs="0" name="articulo" type="tns:articulo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarArticuloResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerArticuloPorId">
    <xs:sequence>
      <xs:element name="idArticulo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerArticuloPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:articulo" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoEjemplar">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DISPONIBLE" />
      <xs:enumeration value="PRESTADO" />
      <xs:enumeration value="EN_REPARACION" />
      <xs:enumeration value="NO_DISPONIBLE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoContribuyente">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AUTOR" />
      <xs:enumeration value="TRADUCTOR" />
      <xs:enumeration value="EDITOR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoMaterial">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DISPONIBLE" />
      <xs:enumeration value="NO_DISPONIBLE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoMaterial">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LIBRO" />
      <xs:enumeration value="TESIS" />
      <xs:enumeration value="ARTICULO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>