FrontEnd (C#)/BibliotecaWA/BibliotecaWA/Connected Services/BibliotecaServices/ArticuloWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="pe.edu.pucp.utilsarmy.services" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ArticuloWS" targetNamespace="pe.edu.pucp.utilsarmy.services" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/BibliotecaWS/ArticuloWS?xsd=1" namespace="pe.edu.pucp.utilsarmy.services" />
    </xsd:schema>
  </types>
  <message name="obtenerArticuloPorId">
    <part name="parameters" element="tns:obtenerArticuloPorId" />
  </message>
  <message name="obtenerArticuloPorIdResponse">
    <part name="parameters" element="tns:obtenerArticuloPorIdResponse" />
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception" />
  </message>
  <message name="modificarArticulo">
    <part name="parameters" element="tns:modificarArticulo" />
  </message>
  <message name="modificarArticuloResponse">
    <part name="parameters" element="tns:modificarArticuloResponse" />
  </message>
  <message name="listarArticulosTodos">
    <part name="parameters" element="tns:listarArticulosTodos" />
  </message>
  <message name="listarArticulosTodosResponse">
    <part name="parameters" element="tns:listarArticulosTodosResponse" />
  </message>
  <message name="eliminarArticulo">
    <part name="parameters" element="tns:eliminarArticulo" />
  </message>
  <message name="eliminarArticuloResponse">
    <part name="parameters" element="tns:eliminarArticuloResponse" />
  </message>
  <message name="insertarArticulo">
    <part name="parameters" element="tns:insertarArticulo" />
  </message>
  <message name="insertarArticuloResponse">
    <part name="parameters" element="tns:insertarArticuloResponse" />
  </message>
  <portType name="ArticuloWS">
    <operation name="obtenerArticuloPorId">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/ArticuloWS/obtenerArticuloPorIdRequest" message="tns:obtenerArticuloPorId" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/ArticuloWS/obtenerArticuloPorIdResponse" message="tns:obtenerArticuloPorIdResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/ArticuloWS/obtenerArticuloPorId/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="modificarArticulo">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/ArticuloWS/modificarArticuloRequest" message="tns:modificarArticulo" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/ArticuloWS/modificarArticuloResponse" message="tns:modificarArticuloResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/ArticuloWS/modificarArticulo/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="listarArticulosTodos">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/ArticuloWS/listarArticulosTodosRequest" message="tns:listarArticulosTodos" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/ArticuloWS/listarArticulosTodosResponse" message="tns:listarArticulosTodosResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/ArticuloWS/listarArticulosTodos/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="eliminarArticulo">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/ArticuloWS/eliminarArticuloRequest" message="tns:eliminarArticulo" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/ArticuloWS/eliminarArticuloResponse" message="tns:eliminarArticuloResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/ArticuloWS/eliminarArticulo/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="insertarArticulo">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/ArticuloWS/insertarArticuloRequest" message="tns:insertarArticulo" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/ArticuloWS/insertarArticuloResponse" message="tns:insertarArticuloResponse" />
    </operation>
  </portType>
  <binding name="ArticuloWSPortBinding" type="tns:ArticuloWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerArticuloPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="modificarArticulo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="listarArticulosTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="eliminarArticulo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="insertarArticulo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ArticuloWS">
    <port name="ArticuloWSPort" binding="tns:ArticuloWSPortBinding">
      <soap:address location="http://localhost:8080/BibliotecaWS/ArticuloWS" />
    </port>
  </service>
</definitions>