FrontEnd (C#)/BibliotecaWA/BibliotecaWA/Connected Services/BibliotecaServices/ConstribuyenteWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://gestionMaterial.services.biblioteca/" targetNamespace="http://gestionMaterial.services.biblioteca/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="eliminarContribuyente" type="tns:eliminarContribuyente" />
  <xs:element name="eliminarContribuyenteResponse" type="tns:eliminarContribuyenteResponse" />
  <xs:element name="insertarContribuyente" type="tns:insertarContribuyente" />
  <xs:element name="insertarContribuyenteResponse" type="tns:insertarContribuyenteResponse" />
  <xs:element name="listarContribuyentesTodos" type="tns:listarContribuyentesTodos" />
  <xs:element name="listarContribuyentesTodosResponse" type="tns:listarContribuyentesTodosResponse" />
  <xs:element name="modificarContribuyente" type="tns:modificarContribuyente" />
  <xs:element name="modificarContribuyenteResponse" type="tns:modificarContribuyenteResponse" />
  <xs:element name="obtenerContribuyentePorId" type="tns:obtenerContribuyentePorId" />
  <xs:element name="obtenerContribuyentePorIdResponse" type="tns:obtenerContribuyentePorIdResponse" />
  <xs:complexType name="listarContribuyentesTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarContribuyentesTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:contribuyente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contribuyente">
    <xs:sequence>
      <xs:element name="idContribuyente" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="primer_apellido" type="xs:string" />
      <xs:element minOccurs="0" name="segundo_apellido" type="xs:string" />
      <xs:element minOccurs="0" name="seudonimo" type="xs:string" />
      <xs:element minOccurs="0" name="tipo_contribuyente" type="tns:tipoContribuyente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerContribuyentePorId">
    <xs:sequence>
      <xs:element name="idContribuyente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerContribuyentePorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:contribuyente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarContribuyente">
    <xs:sequence>
      <xs:element minOccurs="0" name="contribuyente" type="tns:contribuyente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarContribuyenteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarContribuyente">
    <xs:sequence>
      <xs:element name="idContribuyente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarContribuyenteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarContribuyente">
    <xs:sequence>
      <xs:element minOccurs="0" name="contribuyente" type="tns:contribuyente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarContribuyenteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoContribuyente">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AUTOR" />
      <xs:enumeration value="EDITOR" />
      <xs:enumeration value="ILUSTRADOR" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>