FrontEnd (C#)/BibliotecaWA/BibliotecaWA/Connected Services/BibliotecaServices/ConstribuyenteWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="pe.edu.pucp.utilsarmy.services" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ConstribuyenteWS" targetNamespace="pe.edu.pucp.utilsarmy.services" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/BibliotecaWS/ConstribuyenteWS?xsd=1" namespace="pe.edu.pucp.utilsarmy.services" />
    </xsd:schema>
  </types>
  <message name="listarContribuyentesTodos">
    <part name="parameters" element="tns:listarContribuyentesTodos" />
  </message>
  <message name="listarContribuyentesTodosResponse">
    <part name="parameters" element="tns:listarContribuyentesTodosResponse" />
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception" />
  </message>
  <message name="obtenerContribuyentePorId">
    <part name="parameters" element="tns:obtenerContribuyentePorId" />
  </message>
  <message name="obtenerContribuyentePorIdResponse">
    <part name="parameters" element="tns:obtenerContribuyentePorIdResponse" />
  </message>
  <message name="eliminarContribuyente">
    <part name="parameters" element="tns:eliminarContribuyente" />
  </message>
  <message name="eliminarContribuyenteResponse">
    <part name="parameters" element="tns:eliminarContribuyenteResponse" />
  </message>
  <message name="asignarContribuyente">
    <part name="parameters" element="tns:asignarContribuyente" />
  </message>
  <message name="asignarContribuyenteResponse">
    <part name="parameters" element="tns:asignarContribuyenteResponse" />
  </message>
  <message name="modificarContribuyente">
    <part name="parameters" element="tns:modificarContribuyente" />
  </message>
  <message name="modificarContribuyenteResponse">
    <part name="parameters" element="tns:modificarContribuyenteResponse" />
  </message>
  <message name="insertarContribuyente">
    <part name="parameters" element="tns:insertarContribuyente" />
  </message>
  <message name="insertarContribuyenteResponse">
    <part name="parameters" element="tns:insertarContribuyenteResponse" />
  </message>
  <portType name="ConstribuyenteWS">
    <operation name="listarContribuyentesTodos">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/ConstribuyenteWS/listarContribuyentesTodosRequest" message="tns:listarContribuyentesTodos" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/ConstribuyenteWS/listarContribuyentesTodosResponse" message="tns:listarContribuyentesTodosResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/ConstribuyenteWS/listarContribuyentesTodos/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="obtenerContribuyentePorId">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/ConstribuyenteWS/obtenerContribuyentePorIdRequest" message="tns:obtenerContribuyentePorId" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/ConstribuyenteWS/obtenerContribuyentePorIdResponse" message="tns:obtenerContribuyentePorIdResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/ConstribuyenteWS/obtenerContribuyentePorId/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="eliminarContribuyente">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/ConstribuyenteWS/eliminarContribuyenteRequest" message="tns:eliminarContribuyente" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/ConstribuyenteWS/eliminarContribuyenteResponse" message="tns:eliminarContribuyenteResponse" />
    </operation>
    <operation name="asignarContribuyente">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/ConstribuyenteWS/asignarContribuyenteRequest" message="tns:asignarContribuyente" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/ConstribuyenteWS/asignarContribuyenteResponse" message="tns:asignarContribuyenteResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/ConstribuyenteWS/asignarContribuyente/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="modificarContribuyente">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/ConstribuyenteWS/modificarContribuyenteRequest" message="tns:modificarContribuyente" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/ConstribuyenteWS/modificarContribuyenteResponse" message="tns:modificarContribuyenteResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/ConstribuyenteWS/modificarContribuyente/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="insertarContribuyente">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/ConstribuyenteWS/insertarContribuyenteRequest" message="tns:insertarContribuyente" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/ConstribuyenteWS/insertarContribuyenteResponse" message="tns:insertarContribuyenteResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/ConstribuyenteWS/insertarContribuyente/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
  </portType>
  <binding name="ConstribuyenteWSPortBinding" type="tns:ConstribuyenteWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarContribuyentesTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="obtenerContribuyentePorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="eliminarContribuyente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="asignarContribuyente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="modificarContribuyente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="insertarContribuyente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="ConstribuyenteWS">
    <port name="ConstribuyenteWSPort" binding="tns:ConstribuyenteWSPortBinding">
      <soap:address location="http://localhost:8080/BibliotecaWS/ConstribuyenteWS" />
    </port>
  </service>
</definitions>