FrontEnd (C#)/BibliotecaWA/BibliotecaWA/Connected Services/BibliotecaServices/EjemplarWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://gestionMaterial.services.biblioteca/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="EjemplarWS" targetNamespace="http://gestionMaterial.services.biblioteca/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/BibliotecaWS/EjemplarWS?xsd=1" namespace="http://gestionMaterial.services.biblioteca/" />
    </xsd:schema>
  </types>
  <message name="obtenerEjemplarPorId">
    <part name="parameters" element="tns:obtenerEjemplarPorId" />
  </message>
  <message name="obtenerEjemplarPorIdResponse">
    <part name="parameters" element="tns:obtenerEjemplarPorIdResponse" />
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception" />
  </message>
  <message name="listarEjemplaresTodos">
    <part name="parameters" element="tns:listarEjemplaresTodos" />
  </message>
  <message name="listarEjemplaresTodosResponse">
    <part name="parameters" element="tns:listarEjemplaresTodosResponse" />
  </message>
  <message name="insertarEjemplar">
    <part name="parameters" element="tns:insertarEjemplar" />
  </message>
  <message name="insertarEjemplarResponse">
    <part name="parameters" element="tns:insertarEjemplarResponse" />
  </message>
  <message name="modificarEjemplar">
    <part name="parameters" element="tns:modificarEjemplar" />
  </message>
  <message name="modificarEjemplarResponse">
    <part name="parameters" element="tns:modificarEjemplarResponse" />
  </message>
  <message name="eliminarEjemplar">
    <part name="parameters" element="tns:eliminarEjemplar" />
  </message>
  <message name="eliminarEjemplarResponse">
    <part name="parameters" element="tns:eliminarEjemplarResponse" />
  </message>
  <portType name="EjemplarWS">
    <operation name="obtenerEjemplarPorId">
      <input wsam:Action="http://gestionMaterial.services.biblioteca/EjemplarWS/obtenerEjemplarPorIdRequest" message="tns:obtenerEjemplarPorId" />
      <output wsam:Action="http://gestionMaterial.services.biblioteca/EjemplarWS/obtenerEjemplarPorIdResponse" message="tns:obtenerEjemplarPorIdResponse" />
      <fault wsam:Action="http://gestionMaterial.services.biblioteca/EjemplarWS/obtenerEjemplarPorId/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="listarEjemplaresTodos">
      <input wsam:Action="http://gestionMaterial.services.biblioteca/EjemplarWS/listarEjemplaresTodosRequest" message="tns:listarEjemplaresTodos" />
      <output wsam:Action="http://gestionMaterial.services.biblioteca/EjemplarWS/listarEjemplaresTodosResponse" message="tns:listarEjemplaresTodosResponse" />
      <fault wsam:Action="http://gestionMaterial.services.biblioteca/EjemplarWS/listarEjemplaresTodos/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="insertarEjemplar">
      <input wsam:Action="http://gestionMaterial.services.biblioteca/EjemplarWS/insertarEjemplarRequest" message="tns:insertarEjemplar" />
      <output wsam:Action="http://gestionMaterial.services.biblioteca/EjemplarWS/insertarEjemplarResponse" message="tns:insertarEjemplarResponse" />
    </operation>
    <operation name="modificarEjemplar">
      <input wsam:Action="http://gestionMaterial.services.biblioteca/EjemplarWS/modificarEjemplarRequest" message="tns:modificarEjemplar" />
      <output wsam:Action="http://gestionMaterial.services.biblioteca/EjemplarWS/modificarEjemplarResponse" message="tns:modificarEjemplarResponse" />
      <fault wsam:Action="http://gestionMaterial.services.biblioteca/EjemplarWS/modificarEjemplar/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="eliminarEjemplar">
      <input wsam:Action="http://gestionMaterial.services.biblioteca/EjemplarWS/eliminarEjemplarRequest" message="tns:eliminarEjemplar" />
      <output wsam:Action="http://gestionMaterial.services.biblioteca/EjemplarWS/eliminarEjemplarResponse" message="tns:eliminarEjemplarResponse" />
      <fault wsam:Action="http://gestionMaterial.services.biblioteca/EjemplarWS/eliminarEjemplar/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
  </portType>
  <binding name="EjemplarWSPortBinding" type="tns:EjemplarWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerEjemplarPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="listarEjemplaresTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="insertarEjemplar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarEjemplar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="eliminarEjemplar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="EjemplarWS">
    <port name="EjemplarWSPort" binding="tns:EjemplarWSPortBinding">
      <soap:address location="http://localhost:8080/BibliotecaWS/EjemplarWS" />
    </port>
  </service>
</definitions>