FrontEnd (C#)/BibliotecaWA/BibliotecaWA/Connected Services/BibliotecaServices/LibroWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="pe.edu.pucp.utilsarmy.services" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="LibroWS" targetNamespace="pe.edu.pucp.utilsarmy.services" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/BibliotecaWS/LibroWS?xsd=1" namespace="pe.edu.pucp.utilsarmy.services" />
    </xsd:schema>
  </types>
  <message name="obtenerLibroPorId">
    <part name="parameters" element="tns:obtenerLibroPorId" />
  </message>
  <message name="obtenerLibroPorIdResponse">
    <part name="parameters" element="tns:obtenerLibroPorIdResponse" />
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception" />
  </message>
  <message name="insertarLibro">
    <part name="parameters" element="tns:insertarLibro" />
  </message>
  <message name="insertarLibroResponse">
    <part name="parameters" element="tns:insertarLibroResponse" />
  </message>
  <message name="eliminarLibro">
    <part name="parameters" element="tns:eliminarLibro" />
  </message>
  <message name="eliminarLibroResponse">
    <part name="parameters" element="tns:eliminarLibroResponse" />
  </message>
  <message name="modificarLibro">
    <part name="parameters" element="tns:modificarLibro" />
  </message>
  <message name="modificarLibroResponse">
    <part name="parameters" element="tns:modificarLibroResponse" />
  </message>
  <message name="listarLibrosTodos">
    <part name="parameters" element="tns:listarLibrosTodos" />
  </message>
  <message name="listarLibrosTodosResponse">
    <part name="parameters" element="tns:listarLibrosTodosResponse" />
  </message>
  <portType name="LibroWS">
    <operation name="obtenerLibroPorId">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/LibroWS/obtenerLibroPorIdRequest" message="tns:obtenerLibroPorId" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/LibroWS/obtenerLibroPorIdResponse" message="tns:obtenerLibroPorIdResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/LibroWS/obtenerLibroPorId/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="insertarLibro">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/LibroWS/insertarLibroRequest" message="tns:insertarLibro" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/LibroWS/insertarLibroResponse" message="tns:insertarLibroResponse" />
    </operation>
    <operation name="eliminarLibro">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/LibroWS/eliminarLibroRequest" message="tns:eliminarLibro" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/LibroWS/eliminarLibroResponse" message="tns:eliminarLibroResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/LibroWS/eliminarLibro/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="modificarLibro">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/LibroWS/modificarLibroRequest" message="tns:modificarLibro" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/LibroWS/modificarLibroResponse" message="tns:modificarLibroResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/LibroWS/modificarLibro/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="listarLibrosTodos">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/LibroWS/listarLibrosTodosRequest" message="tns:listarLibrosTodos" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/LibroWS/listarLibrosTodosResponse" message="tns:listarLibrosTodosResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/LibroWS/listarLibrosTodos/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
  </portType>
  <binding name="LibroWSPortBinding" type="tns:LibroWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerLibroPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="insertarLibro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarLibro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="modificarLibro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="listarLibrosTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="LibroWS">
    <port name="LibroWSPort" binding="tns:LibroWSPortBinding">
      <soap:address location="http://localhost:8080/BibliotecaWS/LibroWS" />
    </port>
  </service>
</definitions>