FrontEnd (C#)/BibliotecaWA/BibliotecaWA/Connected Services/BibliotecaServices/MaterialWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="pe.edu.pucp.utilsarmy.services" targetNamespace="pe.edu.pucp.utilsarmy.services" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Busqueda" type="tns:Busqueda" />
  <xs:element name="BusquedaAvanzada" type="tns:BusquedaAvanzada" />
  <xs:element name="BusquedaAvanzadaResponse" type="tns:BusquedaAvanzadaResponse" />
  <xs:element name="BusquedaResponse" type="tns:BusquedaResponse" />
  <xs:element name="ContarMateriales" type="tns:ContarMateriales" />
  <xs:element name="ContarMaterialesResponse" type="tns:ContarMaterialesResponse" />
  <xs:element name="ListarMaterialesNormal" type="tns:ListarMaterialesNormal" />
  <xs:element name="ListarMaterialesNormalResponse" type="tns:ListarMaterialesNormalResponse" />
  <xs:element name="ListarTodos" type="tns:ListarTodos" />
  <xs:element name="ListarTodosResponse" type="tns:ListarTodosResponse" />
  <xs:element name="buscarContribuyentes" type="tns:buscarContribuyentes" />
  <xs:element name="buscarContribuyentesResponse" type="tns:buscarContribuyentesResponse" />
  <xs:element name="buscarEditoriales" type="tns:buscarEditoriales" />
  <xs:element name="buscarEditorialesResponse" type="tns:buscarEditorialesResponse" />
  <xs:element name="buscarEjemplares" type="tns:buscarEjemplares" />
  <xs:element name="buscarEjemplaresResponse" type="tns:buscarEjemplaresResponse" />
  <xs:element name="obtenerEjemplaresDisponibles" type="tns:obtenerEjemplaresDisponibles" />
  <xs:element name="obtenerEjemplaresDisponiblesResponse" type="tns:obtenerEjemplaresDisponiblesResponse" />
  <xs:element name="obtenerPorId" type="tns:obtenerPorId" />
  <xs:element name="obtenerPorIdResponse" type="tns:obtenerPorIdResponse" />
  <xs:complexType name="Busqueda">
    <xs:sequence>
      <xs:element minOccurs="0" name="_titulo_autor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BusquedaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:materialBibliografico" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="materialBibliografico">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="anho_publicacion" type="xs:int" />
      <xs:element minOccurs="0" name="autoresTexto" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="bibliotecas" nillable="true" type="tns:biblioteca" />
      <xs:element minOccurs="0" name="bibliotecasTexto" type="xs:string" />
      <xs:element name="cantidadDisponible" type="xs:int" />
      <xs:element minOccurs="0" name="clasificacion_tematica" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="contribuyentes" nillable="true" type="tns:contribuyente" />
      <xs:element minOccurs="0" name="editorial" type="tns:editorial" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ejemplares" nillable="true" type="tns:ejemplar" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoMaterial" />
      <xs:element name="idMaterial" type="xs:int" />
      <xs:element minOccurs="0" name="idioma" type="xs:string" />
      <xs:element name="numero_paginas" type="xs:int" />
      <xs:element minOccurs="0" name="tipo" type="tns:tipoMaterial" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="biblioteca">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ejemplares" nillable="true" type="tns:ejemplar" />
      <xs:element name="idBiblioteca" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ejemplar">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="blibioteca" type="tns:biblioteca" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoEjemplar" />
      <xs:element name="idEjemplar" type="xs:int" />
      <xs:element name="id_material" type="xs:int" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contribuyente">
    <xs:sequence>
      <xs:element name="idContribuyente" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="primer_apellido" type="xs:string" />
      <xs:element minOccurs="0" name="segundo_apellido" type="xs:string" />
      <xs:element minOccurs="0" name="seudonimo" type="xs:string" />
      <xs:element minOccurs="0" name="tipo_contribuyente" type="tns:tipoContribuyente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editorial">
    <xs:sequence>
      <xs:element name="idEditorial" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorId">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:materialBibliografico" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarEditoriales">
    <xs:sequence>
      <xs:element name="idMaterial" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarEditorialesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:editorial" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarContribuyentes">
    <xs:sequence>
      <xs:element name="idMaterial" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarContribuyentesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:contribuyente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:materialBibliografico" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarMaterialesNormal">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListarMaterialesNormalResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:materialBibliografico" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContarMateriales">
    <xs:sequence>
      <xs:element name="idmat" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContarMaterialesResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BusquedaAvanzada">
    <xs:sequence>
      <xs:element minOccurs="0" name="Titulo" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo_contribuyente" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_contribuyente" type="xs:string" />
      <xs:element minOccurs="0" name="Tema" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha_desde" type="xs:int" />
      <xs:element minOccurs="0" name="Fecha_hasta" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo_de_material" type="xs:string" />
      <xs:element minOccurs="0" name="Biblioteca" type="xs:string" />
      <xs:element minOccurs="0" name="Disponibilidad" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BusquedaAvanzadaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:materialBibliografico" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarEjemplares">
    <xs:sequence>
      <xs:element name="idMaterial" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarEjemplaresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ejemplar" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerEjemplaresDisponibles">
    <xs:sequence>
      <xs:element name="idMaterial" type="xs:int" />
      <xs:element name="idBiblioteca" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerEjemplaresDisponiblesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ejemplar" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoEjemplar">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DISPONIBLE" />
      <xs:enumeration value="PRESTADO" />
      <xs:enumeration value="EN_REPARACION" />
      <xs:enumeration value="NO_DISPONIBLE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoContribuyente">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AUTOR" />
      <xs:enumeration value="TRADUCTOR" />
      <xs:enumeration value="EDITOR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoMaterial">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DISPONIBLE" />
      <xs:enumeration value="NO_DISPONIBLE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoMaterial">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LIBRO" />
      <xs:enumeration value="TESIS" />
      <xs:enumeration value="ARTICULO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>