FrontEnd (C#)/BibliotecaWA/BibliotecaWA/Connected Services/BibliotecaServices/MaterialWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="pe.edu.pucp.utilsarmy.services" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MaterialWS" targetNamespace="pe.edu.pucp.utilsarmy.services" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/BibliotecaWS/MaterialWS?xsd=1" namespace="pe.edu.pucp.utilsarmy.services" />
    </xsd:schema>
  </types>
  <message name="buscarContribuyentes">
    <part name="parameters" element="tns:buscarContribuyentes" />
  </message>
  <message name="buscarContribuyentesResponse">
    <part name="parameters" element="tns:buscarContribuyentesResponse" />
  </message>
  <message name="Busqueda">
    <part name="parameters" element="tns:Busqueda" />
  </message>
  <message name="BusquedaResponse">
    <part name="parameters" element="tns:BusquedaResponse" />
  </message>
  <message name="buscarEjemplares">
    <part name="parameters" element="tns:buscarEjemplares" />
  </message>
  <message name="buscarEjemplaresResponse">
    <part name="parameters" element="tns:buscarEjemplaresResponse" />
  </message>
  <message name="ObtenerSoloMaterial">
    <part name="parameters" element="tns:ObtenerSoloMaterial" />
  </message>
  <message name="ObtenerSoloMaterialResponse">
    <part name="parameters" element="tns:ObtenerSoloMaterialResponse" />
  </message>
  <message name="ListarMaterialesNormal">
    <part name="parameters" element="tns:ListarMaterialesNormal" />
  </message>
  <message name="ListarMaterialesNormalResponse">
    <part name="parameters" element="tns:ListarMaterialesNormalResponse" />
  </message>
  <message name="ContarMateriales">
    <part name="parameters" element="tns:ContarMateriales" />
  </message>
  <message name="ContarMaterialesResponse">
    <part name="parameters" element="tns:ContarMaterialesResponse" />
  </message>
  <message name="ListarTodos">
    <part name="parameters" element="tns:ListarTodos" />
  </message>
  <message name="ListarTodosResponse">
    <part name="parameters" element="tns:ListarTodosResponse" />
  </message>
  <message name="obtenerPorId">
    <part name="parameters" element="tns:obtenerPorId" />
  </message>
  <message name="obtenerPorIdResponse">
    <part name="parameters" element="tns:obtenerPorIdResponse" />
  </message>
  <message name="obtenerEjemplaresDisponibles">
    <part name="parameters" element="tns:obtenerEjemplaresDisponibles" />
  </message>
  <message name="obtenerEjemplaresDisponiblesResponse">
    <part name="parameters" element="tns:obtenerEjemplaresDisponiblesResponse" />
  </message>
  <message name="BusquedaAvanzada">
    <part name="parameters" element="tns:BusquedaAvanzada" />
  </message>
  <message name="BusquedaAvanzadaResponse">
    <part name="parameters" element="tns:BusquedaAvanzadaResponse" />
  </message>
  <portType name="MaterialWS">
    <operation name="buscarContribuyentes">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/MaterialWS/buscarContribuyentesRequest" message="tns:buscarContribuyentes" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/MaterialWS/buscarContribuyentesResponse" message="tns:buscarContribuyentesResponse" />
    </operation>
    <operation name="Busqueda">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/MaterialWS/BusquedaRequest" message="tns:Busqueda" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/MaterialWS/BusquedaResponse" message="tns:BusquedaResponse" />
    </operation>
    <operation name="buscarEjemplares">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/MaterialWS/buscarEjemplaresRequest" message="tns:buscarEjemplares" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/MaterialWS/buscarEjemplaresResponse" message="tns:buscarEjemplaresResponse" />
    </operation>
    <operation name="ObtenerSoloMaterial">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/MaterialWS/ObtenerSoloMaterialRequest" message="tns:ObtenerSoloMaterial" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/MaterialWS/ObtenerSoloMaterialResponse" message="tns:ObtenerSoloMaterialResponse" />
    </operation>
    <operation name="ListarMaterialesNormal">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/MaterialWS/ListarMaterialesNormalRequest" message="tns:ListarMaterialesNormal" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/MaterialWS/ListarMaterialesNormalResponse" message="tns:ListarMaterialesNormalResponse" />
    </operation>
    <operation name="ContarMateriales">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/MaterialWS/ContarMaterialesRequest" message="tns:ContarMateriales" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/MaterialWS/ContarMaterialesResponse" message="tns:ContarMaterialesResponse" />
    </operation>
    <operation name="ListarTodos">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/MaterialWS/ListarTodosRequest" message="tns:ListarTodos" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/MaterialWS/ListarTodosResponse" message="tns:ListarTodosResponse" />
    </operation>
    <operation name="obtenerPorId">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/MaterialWS/obtenerPorIdRequest" message="tns:obtenerPorId" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/MaterialWS/obtenerPorIdResponse" message="tns:obtenerPorIdResponse" />
    </operation>
    <operation name="obtenerEjemplaresDisponibles">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/MaterialWS/obtenerEjemplaresDisponiblesRequest" message="tns:obtenerEjemplaresDisponibles" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/MaterialWS/obtenerEjemplaresDisponiblesResponse" message="tns:obtenerEjemplaresDisponiblesResponse" />
    </operation>
    <operation name="BusquedaAvanzada">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/MaterialWS/BusquedaAvanzadaRequest" message="tns:BusquedaAvanzada" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/MaterialWS/BusquedaAvanzadaResponse" message="tns:BusquedaAvanzadaResponse" />
    </operation>
  </portType>
  <binding name="MaterialWSPortBinding" type="tns:MaterialWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="buscarContribuyentes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Busqueda">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarEjemplares">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ObtenerSoloMaterial">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListarMaterialesNormal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ContarMateriales">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListarTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerEjemplaresDisponibles">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="BusquedaAvanzada">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MaterialWS">
    <port name="MaterialWSPort" binding="tns:MaterialWSPortBinding">
      <soap:address location="http://localhost:8080/BibliotecaWS/MaterialWS" />
    </port>
  </service>
</definitions>