FrontEnd (C#)/BibliotecaWA/BibliotecaWA/Connected Services/BibliotecaServices/PrestamoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="pe.edu.pucp.utilsarmy.services" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PrestamoWS" targetNamespace="pe.edu.pucp.utilsarmy.services" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/BibliotecaWS/PrestamoWS?xsd=1" namespace="pe.edu.pucp.utilsarmy.services" />
    </xsd:schema>
  </types>
  <message name="obtenerPrestamoPorId">
    <part name="parameters" element="tns:obtenerPrestamoPorId" />
  </message>
  <message name="obtenerPrestamoPorIdResponse">
    <part name="parameters" element="tns:obtenerPrestamoPorIdResponse" />
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception" />
  </message>
  <message name="modificarPrestamo">
    <part name="parameters" element="tns:modificarPrestamo" />
  </message>
  <message name="modificarPrestamoResponse">
    <part name="parameters" element="tns:modificarPrestamoResponse" />
  </message>
  <message name="eliminarPrestamo">
    <part name="parameters" element="tns:eliminarPrestamo" />
  </message>
  <message name="eliminarPrestamoResponse">
    <part name="parameters" element="tns:eliminarPrestamoResponse" />
  </message>
  <message name="buscarPrestamos">
    <part name="parameters" element="tns:buscarPrestamos" />
  </message>
  <message name="buscarPrestamosResponse">
    <part name="parameters" element="tns:buscarPrestamosResponse" />
  </message>
  <message name="listarPrestamos">
    <part name="parameters" element="tns:listarPrestamos" />
  </message>
  <message name="listarPrestamosResponse">
    <part name="parameters" element="tns:listarPrestamosResponse" />
  </message>
  <message name="insertarPrestamo">
    <part name="parameters" element="tns:insertarPrestamo" />
  </message>
  <message name="insertarPrestamoResponse">
    <part name="parameters" element="tns:insertarPrestamoResponse" />
  </message>
  <message name="listarPrestamosPorUsuario">
    <part name="parameters" element="tns:listarPrestamosPorUsuario" />
  </message>
  <message name="listarPrestamosPorUsuarioResponse">
    <part name="parameters" element="tns:listarPrestamosPorUsuarioResponse" />
  </message>
  <portType name="PrestamoWS">
    <operation name="obtenerPrestamoPorId">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/PrestamoWS/obtenerPrestamoPorIdRequest" message="tns:obtenerPrestamoPorId" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/PrestamoWS/obtenerPrestamoPorIdResponse" message="tns:obtenerPrestamoPorIdResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/PrestamoWS/obtenerPrestamoPorId/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="modificarPrestamo">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/PrestamoWS/modificarPrestamoRequest" message="tns:modificarPrestamo" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/PrestamoWS/modificarPrestamoResponse" message="tns:modificarPrestamoResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/PrestamoWS/modificarPrestamo/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="eliminarPrestamo">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/PrestamoWS/eliminarPrestamoRequest" message="tns:eliminarPrestamo" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/PrestamoWS/eliminarPrestamoResponse" message="tns:eliminarPrestamoResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/PrestamoWS/eliminarPrestamo/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="buscarPrestamos">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/PrestamoWS/buscarPrestamosRequest" message="tns:buscarPrestamos" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/PrestamoWS/buscarPrestamosResponse" message="tns:buscarPrestamosResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/PrestamoWS/buscarPrestamos/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="listarPrestamos">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/PrestamoWS/listarPrestamosRequest" message="tns:listarPrestamos" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/PrestamoWS/listarPrestamosResponse" message="tns:listarPrestamosResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/PrestamoWS/listarPrestamos/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="insertarPrestamo">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/PrestamoWS/insertarPrestamoRequest" message="tns:insertarPrestamo" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/PrestamoWS/insertarPrestamoResponse" message="tns:insertarPrestamoResponse" />
    </operation>
    <operation name="listarPrestamosPorUsuario">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/PrestamoWS/listarPrestamosPorUsuarioRequest" message="tns:listarPrestamosPorUsuario" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/PrestamoWS/listarPrestamosPorUsuarioResponse" message="tns:listarPrestamosPorUsuarioResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/PrestamoWS/listarPrestamosPorUsuario/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
  </portType>
  <binding name="PrestamoWSPortBinding" type="tns:PrestamoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerPrestamoPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="modificarPrestamo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="eliminarPrestamo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="buscarPrestamos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="listarPrestamos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="insertarPrestamo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPrestamosPorUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="PrestamoWS">
    <port name="PrestamoWSPort" binding="tns:PrestamoWSPortBinding">
      <soap:address location="http://localhost:8080/BibliotecaWS/PrestamoWS" />
    </port>
  </service>
</definitions>