FrontEnd (C#)/BibliotecaWA/BibliotecaWA/Connected Services/BibliotecaServices/RolWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://gestionUsuario.services.biblioteca/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="RolWS" targetNamespace="http://gestionUsuario.services.biblioteca/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/BibliotecaWS/RolWS?xsd=1" namespace="http://gestionUsuario.services.biblioteca/" />
    </xsd:schema>
  </types>
  <message name="modificarRol">
    <part name="parameters" element="tns:modificarRol" />
  </message>
  <message name="modificarRolResponse">
    <part name="parameters" element="tns:modificarRolResponse" />
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception" />
  </message>
  <message name="listarRoles">
    <part name="parameters" element="tns:listarRoles" />
  </message>
  <message name="listarRolesResponse">
    <part name="parameters" element="tns:listarRolesResponse" />
  </message>
  <message name="insertarRol">
    <part name="parameters" element="tns:insertarRol" />
  </message>
  <message name="insertarRolResponse">
    <part name="parameters" element="tns:insertarRolResponse" />
  </message>
  <message name="obtenerRolPorId">
    <part name="parameters" element="tns:obtenerRolPorId" />
  </message>
  <message name="obtenerRolPorIdResponse">
    <part name="parameters" element="tns:obtenerRolPorIdResponse" />
  </message>
  <message name="eliminarRol">
    <part name="parameters" element="tns:eliminarRol" />
  </message>
  <message name="eliminarRolResponse">
    <part name="parameters" element="tns:eliminarRolResponse" />
  </message>
  <portType name="RolWS">
    <operation name="modificarRol">
      <input wsam:Action="http://gestionUsuario.services.biblioteca/RolWS/modificarRolRequest" message="tns:modificarRol" />
      <output wsam:Action="http://gestionUsuario.services.biblioteca/RolWS/modificarRolResponse" message="tns:modificarRolResponse" />
      <fault wsam:Action="http://gestionUsuario.services.biblioteca/RolWS/modificarRol/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="listarRoles">
      <input wsam:Action="http://gestionUsuario.services.biblioteca/RolWS/listarRolesRequest" message="tns:listarRoles" />
      <output wsam:Action="http://gestionUsuario.services.biblioteca/RolWS/listarRolesResponse" message="tns:listarRolesResponse" />
      <fault wsam:Action="http://gestionUsuario.services.biblioteca/RolWS/listarRoles/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="insertarRol">
      <input wsam:Action="http://gestionUsuario.services.biblioteca/RolWS/insertarRolRequest" message="tns:insertarRol" />
      <output wsam:Action="http://gestionUsuario.services.biblioteca/RolWS/insertarRolResponse" message="tns:insertarRolResponse" />
      <fault wsam:Action="http://gestionUsuario.services.biblioteca/RolWS/insertarRol/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="obtenerRolPorId">
      <input wsam:Action="http://gestionUsuario.services.biblioteca/RolWS/obtenerRolPorIdRequest" message="tns:obtenerRolPorId" />
      <output wsam:Action="http://gestionUsuario.services.biblioteca/RolWS/obtenerRolPorIdResponse" message="tns:obtenerRolPorIdResponse" />
      <fault wsam:Action="http://gestionUsuario.services.biblioteca/RolWS/obtenerRolPorId/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="eliminarRol">
      <input wsam:Action="http://gestionUsuario.services.biblioteca/RolWS/eliminarRolRequest" message="tns:eliminarRol" />
      <output wsam:Action="http://gestionUsuario.services.biblioteca/RolWS/eliminarRolResponse" message="tns:eliminarRolResponse" />
      <fault wsam:Action="http://gestionUsuario.services.biblioteca/RolWS/eliminarRol/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
  </portType>
  <binding name="RolWSPortBinding" type="tns:RolWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="modificarRol">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="listarRoles">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="insertarRol">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="obtenerRolPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="eliminarRol">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="RolWS">
    <port name="RolWSPort" binding="tns:RolWSPortBinding">
      <soap:address location="http://localhost:8080/BibliotecaWS/RolWS" />
    </port>
  </service>
</definitions>