FrontEnd (C#)/BibliotecaWA/BibliotecaWA/Connected Services/BibliotecaServices/SancionWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="pe.edu.pucp.utilsarmy.services" targetNamespace="pe.edu.pucp.utilsarmy.services" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BusquedaSanciones" type="tns:BusquedaSanciones" />
  <xs:element name="BusquedaSancionesResponse" type="tns:BusquedaSancionesResponse" />
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="finalizar_sancion" type="tns:finalizar_sancion" />
  <xs:element name="finalizar_sancionResponse" type="tns:finalizar_sancionResponse" />
  <xs:element name="insertarSancion" type="tns:insertarSancion" />
  <xs:element name="insertarSancionResponse" type="tns:insertarSancionResponse" />
  <xs:element name="listarSanciones" type="tns:listarSanciones" />
  <xs:element name="listarSancionesPorUsuario" type="tns:listarSancionesPorUsuario" />
  <xs:element name="listarSancionesPorUsuarioPorPanel" type="tns:listarSancionesPorUsuarioPorPanel" />
  <xs:element name="listarSancionesPorUsuarioPorPanelResponse" type="tns:listarSancionesPorUsuarioPorPanelResponse" />
  <xs:element name="listarSancionesPorUsuarioResponse" type="tns:listarSancionesPorUsuarioResponse" />
  <xs:element name="listarSancionesResponse" type="tns:listarSancionesResponse" />
  <xs:element name="modificar_sancion" type="tns:modificar_sancion" />
  <xs:element name="modificar_sancionResponse" type="tns:modificar_sancionResponse" />
  <xs:element name="obtener_por_id" type="tns:obtener_por_id" />
  <xs:element name="obtener_por_idResponse" type="tns:obtener_por_idResponse" />
  <xs:complexType name="listarSancionesPorUsuario">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarSancionesPorUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:sancion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sancion">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="duracion_dias" type="xs:int" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoSancion" />
      <xs:element minOccurs="0" name="fecha_fin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_inicio" type="xs:dateTime" />
      <xs:element name="id_sancion" type="xs:int" />
      <xs:element minOccurs="0" name="justificacion" type="xs:string" />
      <xs:element minOccurs="0" name="prestamo" type="tns:prestamo" />
      <xs:element minOccurs="0" name="tipo_sancion" type="tns:tipoSancion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="prestamo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ejemplar" type="tns:ejemplar" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoPrestamo" />
      <xs:element minOccurs="0" name="fecha_de_prestamo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_devolucion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_vencimiento" type="xs:dateTime" />
      <xs:element name="idPrestamo" type="xs:int" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ejemplar">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="blibioteca" type="tns:biblioteca" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoEjemplar" />
      <xs:element name="idEjemplar" type="xs:int" />
      <xs:element name="id_material" type="xs:int" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="biblioteca">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ejemplares" nillable="true" type="tns:ejemplar" />
      <xs:element name="idBiblioteca" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element name="activa" type="xs:boolean" />
      <xs:element name="codigo" type="xs:int" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="DOI" type="xs:string" />
      <xs:element name="id_usuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="primer_apellido" type="xs:string" />
      <xs:element minOccurs="0" name="rol_usuario" type="tns:rol" />
      <xs:element minOccurs="0" name="segundo_apellido" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rol">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="cantidad_de_dias_por_prestamo" type="xs:int" />
      <xs:element name="id_rol" type="xs:int" />
      <xs:element name="limite_prestamo" type="xs:int" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtener_por_id">
    <xs:sequence>
      <xs:element name="idSancion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtener_por_idResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:sancion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarSanciones">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarSancionesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:sancion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="finalizar_sancion">
    <xs:sequence>
      <xs:element name="idSancion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="finalizar_sancionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BusquedaSanciones">
    <xs:sequence>
      <xs:element name="codigo_universitario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BusquedaSancionesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:sancion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificar_sancion">
    <xs:sequence>
      <xs:element minOccurs="0" name="idSancion" type="tns:sancion" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificar_sancionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarSancion">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
      <xs:element name="duracion" type="xs:int" />
      <xs:element minOccurs="0" name="justificacion" type="xs:string" />
      <xs:element name="id_prestamo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarSancionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarSancionesPorUsuarioPorPanel">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="filtro" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarSancionesPorUsuarioPorPanelResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:sancion" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoSancion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VIGENTE" />
      <xs:enumeration value="FINALIZADA" />
      <xs:enumeration value="PAUSADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoEjemplar">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DISPONIBLE" />
      <xs:enumeration value="PRESTADO" />
      <xs:enumeration value="EN_REPARACION" />
      <xs:enumeration value="PERDIDO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoPrestamo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VIGENTE" />
      <xs:enumeration value="FINALIZADO" />
      <xs:enumeration value="RETRASADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoSancion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DANHO" />
      <xs:enumeration value="ENTREGA_TARDIA" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>