FrontEnd (C#)/BibliotecaWA/BibliotecaWA/Connected Services/BibliotecaServices/SancionWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="pe.edu.pucp.utilsarmy.services" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SancionWS" targetNamespace="pe.edu.pucp.utilsarmy.services" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/BibliotecaWS/SancionWS?xsd=1" namespace="pe.edu.pucp.utilsarmy.services" />
    </xsd:schema>
  </types>
  <message name="listarSancionesPorUsuarioPorPanel">
    <part name="parameters" element="tns:listarSancionesPorUsuarioPorPanel" />
  </message>
  <message name="listarSancionesPorUsuarioPorPanelResponse">
    <part name="parameters" element="tns:listarSancionesPorUsuarioPorPanelResponse" />
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception" />
  </message>
  <message name="obtener_por_id">
    <part name="parameters" element="tns:obtener_por_id" />
  </message>
  <message name="obtener_por_idResponse">
    <part name="parameters" element="tns:obtener_por_idResponse" />
  </message>
  <message name="listarSancionesPorUsuario">
    <part name="parameters" element="tns:listarSancionesPorUsuario" />
  </message>
  <message name="listarSancionesPorUsuarioResponse">
    <part name="parameters" element="tns:listarSancionesPorUsuarioResponse" />
  </message>
  <message name="modificar_sancion">
    <part name="parameters" element="tns:modificar_sancion" />
  </message>
  <message name="modificar_sancionResponse">
    <part name="parameters" element="tns:modificar_sancionResponse" />
  </message>
  <message name="finalizar_sancion">
    <part name="parameters" element="tns:finalizar_sancion" />
  </message>
  <message name="finalizar_sancionResponse">
    <part name="parameters" element="tns:finalizar_sancionResponse" />
  </message>
  <message name="listarSanciones">
    <part name="parameters" element="tns:listarSanciones" />
  </message>
  <message name="listarSancionesResponse">
    <part name="parameters" element="tns:listarSancionesResponse" />
  </message>
  <message name="BusquedaSanciones">
    <part name="parameters" element="tns:BusquedaSanciones" />
  </message>
  <message name="BusquedaSancionesResponse">
    <part name="parameters" element="tns:BusquedaSancionesResponse" />
  </message>
  <message name="insertarSancion">
    <part name="parameters" element="tns:insertarSancion" />
  </message>
  <message name="insertarSancionResponse">
    <part name="parameters" element="tns:insertarSancionResponse" />
  </message>
  <portType name="SancionWS">
    <operation name="listarSancionesPorUsuarioPorPanel">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/SancionWS/listarSancionesPorUsuarioPorPanelRequest" message="tns:listarSancionesPorUsuarioPorPanel" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/SancionWS/listarSancionesPorUsuarioPorPanelResponse" message="tns:listarSancionesPorUsuarioPorPanelResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/SancionWS/listarSancionesPorUsuarioPorPanel/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="obtener_por_id">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/SancionWS/obtener_por_idRequest" message="tns:obtener_por_id" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/SancionWS/obtener_por_idResponse" message="tns:obtener_por_idResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/SancionWS/obtener_por_id/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="listarSancionesPorUsuario">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/SancionWS/listarSancionesPorUsuarioRequest" message="tns:listarSancionesPorUsuario" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/SancionWS/listarSancionesPorUsuarioResponse" message="tns:listarSancionesPorUsuarioResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/SancionWS/listarSancionesPorUsuario/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="modificar_sancion">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/SancionWS/modificar_sancionRequest" message="tns:modificar_sancion" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/SancionWS/modificar_sancionResponse" message="tns:modificar_sancionResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/SancionWS/modificar_sancion/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="finalizar_sancion">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/SancionWS/finalizar_sancionRequest" message="tns:finalizar_sancion" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/SancionWS/finalizar_sancionResponse" message="tns:finalizar_sancionResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/SancionWS/finalizar_sancion/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="listarSanciones">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/SancionWS/listarSancionesRequest" message="tns:listarSanciones" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/SancionWS/listarSancionesResponse" message="tns:listarSancionesResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/SancionWS/listarSanciones/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="BusquedaSanciones">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/SancionWS/BusquedaSancionesRequest" message="tns:BusquedaSanciones" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/SancionWS/BusquedaSancionesResponse" message="tns:BusquedaSancionesResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/SancionWS/BusquedaSanciones/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="insertarSancion">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/SancionWS/insertarSancionRequest" message="tns:insertarSancion" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/SancionWS/insertarSancionResponse" message="tns:insertarSancionResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/SancionWS/insertarSancion/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
  </portType>
  <binding name="SancionWSPortBinding" type="tns:SancionWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarSancionesPorUsuarioPorPanel">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="obtener_por_id">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="listarSancionesPorUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="modificar_sancion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="finalizar_sancion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="listarSanciones">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="BusquedaSanciones">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="insertarSancion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="SancionWS">
    <port name="SancionWSPort" binding="tns:SancionWSPortBinding">
      <soap:address location="http://localhost:8080/BibliotecaWS/SancionWS" />
    </port>
  </service>
</definitions>