FrontEnd (C#)/BibliotecaWA/BibliotecaWA/Connected Services/BibliotecaServices/TesisWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://gestionMaterial.services.biblioteca/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="TesisWS" targetNamespace="http://gestionMaterial.services.biblioteca/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/BibliotecaWS/TesisWS?xsd=1" namespace="http://gestionMaterial.services.biblioteca/" />
    </xsd:schema>
  </types>
  <message name="insertarTesis">
    <part name="parameters" element="tns:insertarTesis" />
  </message>
  <message name="insertarTesisResponse">
    <part name="parameters" element="tns:insertarTesisResponse" />
  </message>
  <message name="listarTesisTodos">
    <part name="parameters" element="tns:listarTesisTodos" />
  </message>
  <message name="listarTesisTodosResponse">
    <part name="parameters" element="tns:listarTesisTodosResponse" />
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception" />
  </message>
  <message name="modificarTesis">
    <part name="parameters" element="tns:modificarTesis" />
  </message>
  <message name="modificarTesisResponse">
    <part name="parameters" element="tns:modificarTesisResponse" />
  </message>
  <message name="eliminarTesis">
    <part name="parameters" element="tns:eliminarTesis" />
  </message>
  <message name="eliminarTesisResponse">
    <part name="parameters" element="tns:eliminarTesisResponse" />
  </message>
  <message name="obtenerTesisPorId">
    <part name="parameters" element="tns:obtenerTesisPorId" />
  </message>
  <message name="obtenerTesisPorIdResponse">
    <part name="parameters" element="tns:obtenerTesisPorIdResponse" />
  </message>
  <portType name="TesisWS">
    <operation name="insertarTesis">
      <input wsam:Action="http://gestionMaterial.services.biblioteca/TesisWS/insertarTesisRequest" message="tns:insertarTesis" />
      <output wsam:Action="http://gestionMaterial.services.biblioteca/TesisWS/insertarTesisResponse" message="tns:insertarTesisResponse" />
    </operation>
    <operation name="listarTesisTodos">
      <input wsam:Action="http://gestionMaterial.services.biblioteca/TesisWS/listarTesisTodosRequest" message="tns:listarTesisTodos" />
      <output wsam:Action="http://gestionMaterial.services.biblioteca/TesisWS/listarTesisTodosResponse" message="tns:listarTesisTodosResponse" />
      <fault wsam:Action="http://gestionMaterial.services.biblioteca/TesisWS/listarTesisTodos/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="modificarTesis">
      <input wsam:Action="http://gestionMaterial.services.biblioteca/TesisWS/modificarTesisRequest" message="tns:modificarTesis" />
      <output wsam:Action="http://gestionMaterial.services.biblioteca/TesisWS/modificarTesisResponse" message="tns:modificarTesisResponse" />
      <fault wsam:Action="http://gestionMaterial.services.biblioteca/TesisWS/modificarTesis/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="eliminarTesis">
      <input wsam:Action="http://gestionMaterial.services.biblioteca/TesisWS/eliminarTesisRequest" message="tns:eliminarTesis" />
      <output wsam:Action="http://gestionMaterial.services.biblioteca/TesisWS/eliminarTesisResponse" message="tns:eliminarTesisResponse" />
      <fault wsam:Action="http://gestionMaterial.services.biblioteca/TesisWS/eliminarTesis/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="obtenerTesisPorId">
      <input wsam:Action="http://gestionMaterial.services.biblioteca/TesisWS/obtenerTesisPorIdRequest" message="tns:obtenerTesisPorId" />
      <output wsam:Action="http://gestionMaterial.services.biblioteca/TesisWS/obtenerTesisPorIdResponse" message="tns:obtenerTesisPorIdResponse" />
      <fault wsam:Action="http://gestionMaterial.services.biblioteca/TesisWS/obtenerTesisPorId/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
  </portType>
  <binding name="TesisWSPortBinding" type="tns:TesisWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarTesis">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTesisTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="modificarTesis">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="eliminarTesis">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="obtenerTesisPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="TesisWS">
    <port name="TesisWSPort" binding="tns:TesisWSPortBinding">
      <soap:address location="http://localhost:8080/BibliotecaWS/TesisWS" />
    </port>
  </service>
</definitions>