FrontEnd (C#)/BibliotecaWA/BibliotecaWA/Connected Services/BibliotecaServices/UsuarioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="pe.edu.pucp.utilsarmy.services" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="UsuarioWS" targetNamespace="pe.edu.pucp.utilsarmy.services" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/BibliotecaWS/UsuarioWS?xsd=1" namespace="pe.edu.pucp.utilsarmy.services" />
    </xsd:schema>
  </types>
  <message name="obtener_prestamos_vigentesxUsuario">
    <part name="parameters" element="tns:obtener_prestamos_vigentesxUsuario" />
  </message>
  <message name="obtener_prestamos_vigentesxUsuarioResponse">
    <part name="parameters" element="tns:obtener_prestamos_vigentesxUsuarioResponse" />
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception" />
  </message>
  <message name="obtenerUsuarioxCodigo">
    <part name="parameters" element="tns:obtenerUsuarioxCodigo" />
  </message>
  <message name="obtenerUsuarioxCodigoResponse">
    <part name="parameters" element="tns:obtenerUsuarioxCodigoResponse" />
  </message>
  <message name="obtenerPrestamosRetrasados">
    <part name="parameters" element="tns:obtenerPrestamosRetrasados" />
  </message>
  <message name="obtenerPrestamosRetrasadosResponse">
    <part name="parameters" element="tns:obtenerPrestamosRetrasadosResponse" />
  </message>
  <message name="obtener_sancion_usuario">
    <part name="parameters" element="tns:obtener_sancion_usuario" />
  </message>
  <message name="obtener_sancion_usuarioResponse">
    <part name="parameters" element="tns:obtener_sancion_usuarioResponse" />
  </message>
  <message name="obtenerUsuarioPorId">
    <part name="parameters" element="tns:obtenerUsuarioPorId" />
  </message>
  <message name="obtenerUsuarioPorIdResponse">
    <part name="parameters" element="tns:obtenerUsuarioPorIdResponse" />
  </message>
  <message name="modificarContrasena">
    <part name="parameters" element="tns:modificarContrasena" />
  </message>
  <message name="modificarContrasenaResponse">
    <part name="parameters" element="tns:modificarContrasenaResponse" />
  </message>
  <message name="listarPorPanelBusqueda">
    <part name="parameters" element="tns:listarPorPanelBusqueda" />
  </message>
  <message name="listarPorPanelBusquedaResponse">
    <part name="parameters" element="tns:listarPorPanelBusquedaResponse" />
  </message>
  <message name="verificarCorreoExistente">
    <part name="parameters" element="tns:verificarCorreoExistente" />
  </message>
  <message name="verificarCorreoExistenteResponse">
    <part name="parameters" element="tns:verificarCorreoExistenteResponse" />
  </message>
  <message name="verificarCuenta">
    <part name="parameters" element="tns:verificarCuenta" />
  </message>
  <message name="verificarCuentaResponse">
    <part name="parameters" element="tns:verificarCuentaResponse" />
  </message>
  <message name="listarTodosDelSistema">
    <part name="parameters" element="tns:listarTodosDelSistema" />
  </message>
  <message name="listarTodosDelSistemaResponse">
    <part name="parameters" element="tns:listarTodosDelSistemaResponse" />
  </message>
  <message name="insertarUsuario">
    <part name="parameters" element="tns:insertarUsuario" />
  </message>
  <message name="insertarUsuarioResponse">
    <part name="parameters" element="tns:insertarUsuarioResponse" />
  </message>
  <message name="modificarUsuario">
    <part name="parameters" element="tns:modificarUsuario" />
  </message>
  <message name="modificarUsuarioResponse">
    <part name="parameters" element="tns:modificarUsuarioResponse" />
  </message>
  <message name="eliminarUsuario">
    <part name="parameters" element="tns:eliminarUsuario" />
  </message>
  <message name="eliminarUsuarioResponse">
    <part name="parameters" element="tns:eliminarUsuarioResponse" />
  </message>
  <message name="listarUsuarios">
    <part name="parameters" element="tns:listarUsuarios" />
  </message>
  <message name="listarUsuariosResponse">
    <part name="parameters" element="tns:listarUsuariosResponse" />
  </message>
  <portType name="UsuarioWS">
    <operation name="obtener_prestamos_vigentesxUsuario">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/obtener_prestamos_vigentesxUsuarioRequest" message="tns:obtener_prestamos_vigentesxUsuario" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/obtener_prestamos_vigentesxUsuarioResponse" message="tns:obtener_prestamos_vigentesxUsuarioResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/obtener_prestamos_vigentesxUsuario/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="obtenerUsuarioxCodigo">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/obtenerUsuarioxCodigoRequest" message="tns:obtenerUsuarioxCodigo" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/obtenerUsuarioxCodigoResponse" message="tns:obtenerUsuarioxCodigoResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/obtenerUsuarioxCodigo/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="obtenerPrestamosRetrasados">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/obtenerPrestamosRetrasadosRequest" message="tns:obtenerPrestamosRetrasados" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/obtenerPrestamosRetrasadosResponse" message="tns:obtenerPrestamosRetrasadosResponse" />
    </operation>
    <operation name="obtener_sancion_usuario">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/obtener_sancion_usuarioRequest" message="tns:obtener_sancion_usuario" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/obtener_sancion_usuarioResponse" message="tns:obtener_sancion_usuarioResponse" />
    </operation>
    <operation name="obtenerUsuarioPorId">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/obtenerUsuarioPorIdRequest" message="tns:obtenerUsuarioPorId" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/obtenerUsuarioPorIdResponse" message="tns:obtenerUsuarioPorIdResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/obtenerUsuarioPorId/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="modificarContrasena">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/modificarContrasenaRequest" message="tns:modificarContrasena" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/modificarContrasenaResponse" message="tns:modificarContrasenaResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/modificarContrasena/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="listarPorPanelBusqueda">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/listarPorPanelBusquedaRequest" message="tns:listarPorPanelBusqueda" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/listarPorPanelBusquedaResponse" message="tns:listarPorPanelBusquedaResponse" />
    </operation>
    <operation name="verificarCorreoExistente">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/verificarCorreoExistenteRequest" message="tns:verificarCorreoExistente" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/verificarCorreoExistenteResponse" message="tns:verificarCorreoExistenteResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/verificarCorreoExistente/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="verificarCuenta">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/verificarCuentaRequest" message="tns:verificarCuenta" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/verificarCuentaResponse" message="tns:verificarCuentaResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/verificarCuenta/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="listarTodosDelSistema">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/listarTodosDelSistemaRequest" message="tns:listarTodosDelSistema" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/listarTodosDelSistemaResponse" message="tns:listarTodosDelSistemaResponse" />
    </operation>
    <operation name="insertarUsuario">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/insertarUsuarioRequest" message="tns:insertarUsuario" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/insertarUsuarioResponse" message="tns:insertarUsuarioResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/insertarUsuario/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="modificarUsuario">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/modificarUsuarioRequest" message="tns:modificarUsuario" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/modificarUsuarioResponse" message="tns:modificarUsuarioResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/modificarUsuario/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="eliminarUsuario">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/eliminarUsuarioRequest" message="tns:eliminarUsuario" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/eliminarUsuarioResponse" message="tns:eliminarUsuarioResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/eliminarUsuario/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="listarUsuarios">
      <input wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/listarUsuariosRequest" message="tns:listarUsuarios" />
      <output wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/listarUsuariosResponse" message="tns:listarUsuariosResponse" />
      <fault wsam:Action="pe.edu.pucp.utilsarmy.services/UsuarioWS/listarUsuarios/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
  </portType>
  <binding name="UsuarioWSPortBinding" type="tns:UsuarioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtener_prestamos_vigentesxUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="obtenerUsuarioxCodigo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="obtenerPrestamosRetrasados">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtener_sancion_usuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerUsuarioPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="modificarContrasena">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="listarPorPanelBusqueda">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="verificarCorreoExistente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="verificarCuenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="listarTodosDelSistema">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="modificarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="eliminarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="listarUsuarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="UsuarioWS">
    <port name="UsuarioWSPort" binding="tns:UsuarioWSPortBinding">
      <soap:address location="http://localhost:8080/BibliotecaWS/UsuarioWS" />
    </port>
  </service>
</definitions>