FrontEnd (C#)/BibliotecaWA/BibliotecaWA/Connected Services/BibliotecaServices/UsuarioWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="pe.edu.pucp.utilsarmy.services" targetNamespace="pe.edu.pucp.utilsarmy.services" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="eliminarUsuario" type="tns:eliminarUsuario" />
  <xs:element name="eliminarUsuarioResponse" type="tns:eliminarUsuarioResponse" />
  <xs:element name="insertarUsuario" type="tns:insertarUsuario" />
  <xs:element name="insertarUsuarioResponse" type="tns:insertarUsuarioResponse" />
  <xs:element name="listarPorPanelBusqueda" type="tns:listarPorPanelBusqueda" />
  <xs:element name="listarPorPanelBusquedaResponse" type="tns:listarPorPanelBusquedaResponse" />
  <xs:element name="listarTodosDelSistema" type="tns:listarTodosDelSistema" />
  <xs:element name="listarTodosDelSistemaResponse" type="tns:listarTodosDelSistemaResponse" />
  <xs:element name="listarUsuarios" type="tns:listarUsuarios" />
  <xs:element name="listarUsuariosResponse" type="tns:listarUsuariosResponse" />
  <xs:element name="modificarUsuario" type="tns:modificarUsuario" />
  <xs:element name="modificarUsuarioResponse" type="tns:modificarUsuarioResponse" />
  <xs:element name="obtenerUsuarioPorId" type="tns:obtenerUsuarioPorId" />
  <xs:element name="obtenerUsuarioPorIdResponse" type="tns:obtenerUsuarioPorIdResponse" />
  <xs:element name="obtenerUsuarioxCodigo" type="tns:obtenerUsuarioxCodigo" />
  <xs:element name="obtenerUsuarioxCodigoResponse" type="tns:obtenerUsuarioxCodigoResponse" />
  <xs:element name="obtener_prestamos_vigentesxUsuario" type="tns:obtener_prestamos_vigentesxUsuario" />
  <xs:element name="obtener_prestamos_vigentesxUsuarioResponse" type="tns:obtener_prestamos_vigentesxUsuarioResponse" />
  <xs:element name="obtener_sancion_usuario" type="tns:obtener_sancion_usuario" />
  <xs:element name="obtener_sancion_usuarioResponse" type="tns:obtener_sancion_usuarioResponse" />
  <xs:element name="verificarCuenta" type="tns:verificarCuenta" />
  <xs:element name="verificarCuentaResponse" type="tns:verificarCuentaResponse" />
  <xs:complexType name="listarTodosDelSistema">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosDelSistemaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element name="activa" type="xs:boolean" />
      <xs:element name="codigo" type="xs:int" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="DOI" type="xs:string" />
      <xs:element name="id_usuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="primer_apellido" type="xs:string" />
      <xs:element minOccurs="0" name="rol_usuario" type="tns:rol" />
      <xs:element minOccurs="0" name="segundo_apellido" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rol">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="cantidad_de_dias_por_prestamo" type="xs:int" />
      <xs:element name="id_rol" type="xs:int" />
      <xs:element name="limite_prestamo" type="xs:int" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorPanelBusqueda">
    <xs:sequence>
      <xs:element minOccurs="0" name="filtro" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorPanelBusquedaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarUsuarios">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarUsuariosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtener_prestamos_vigentesxUsuario">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtener_prestamos_vigentesxUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerUsuarioPorId">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerUsuarioPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerUsuarioxCodigo">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerUsuarioxCodigoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarCuenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="cuenta" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarCuentaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtener_sancion_usuario">
    <xs:sequence>
      <xs:element name="name" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtener_sancion_usuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:sancion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sancion">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="duracion_dias" type="xs:int" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoSancion" />
      <xs:element minOccurs="0" name="fecha_fin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_inicio" type="xs:dateTime" />
      <xs:element name="id_sancion" type="xs:int" />
      <xs:element minOccurs="0" name="justificacion" type="xs:string" />
      <xs:element minOccurs="0" name="prestamo" type="tns:prestamo" />
      <xs:element minOccurs="0" name="tipo_sancion" type="tns:tipoSancion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="prestamo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ejemplar" type="tns:ejemplar" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoPrestamo" />
      <xs:element minOccurs="0" name="fecha_de_prestamo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_devolucion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_vencimiento" type="xs:dateTime" />
      <xs:element name="idPrestamo" type="xs:int" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ejemplar">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="blibioteca" type="tns:biblioteca" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoEjemplar" />
      <xs:element name="idEjemplar" type="xs:int" />
      <xs:element name="id_material" type="xs:int" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="biblioteca">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ejemplares" nillable="true" type="tns:ejemplar" />
      <xs:element name="idBiblioteca" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarUsuario">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoSancion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VIGENTE" />
      <xs:enumeration value="FINALIZADA" />
      <xs:enumeration value="PAUSADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoEjemplar">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DISPONIBLE" />
      <xs:enumeration value="PRESTADO" />
      <xs:enumeration value="EN_REPARACION" />
      <xs:enumeration value="PERDIDO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoPrestamo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VIGENTE" />
      <xs:enumeration value="FINALIZADO" />
      <xs:enumeration value="RETRASADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoSancion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DANHO" />
      <xs:enumeration value="ENTREGA_TARDIA" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>